/* Penggunaan Box-sixing */
/* property box sizing akan membantu kita agar penulisan code akan jauh lebih mudah di karenakan kita tidak perlu mengatur kembali width di dalam div kita dia akan tetap mengikuti parent div nya yang 600 px */
div {
    width: 600px;
    margin: 10px auto;
    box-sizing: border-box;
}

.satu {
    background-color: royalblue;
    padding: 10px;
    border: 15px solid red;
}

.dua {
    background-color: lightgreen;
    padding: 20px;
    border: 10px dashed orange;
}