.satu {
	width: 200px;
	height: 200px;
	background-color: lightgreen;
    /* overlaping vertikal akan mengambil margin terbesar */
    margin-bottom: 30px;
}

.dua {
	width: 100px;
	height: 100px;
	background-color: lightskyblue;
    /* margin Minus akan membuat kotaknya bergerak melawan arah, dan elemant dibawahnya pun akan ikut terbawa */
    margin-top: -50px;
}

.tiga {
	width: 50px;
	height: 50px;
	background-color: violet;
}
